<h4 class="text-center"><%= link_to 'Create New Category', new_category_path %><br /></h4>
<table class="data-table">
  <% @categories.each do |category| %>
    <tr>
      <td class="data-cell">
        <%= link_to category.name, category_path(category) %>
      </td>
      <td class="edit-delete data-cell">
        <%= link_to "Edit", edit_category_path(category) %>
      </td>
      <td class="edit-delete data-cell">
        <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: "Really delete category #{category.name}?"}, id: "category-id-#{category.id}" %>
      </td>
    </tr>
  <% end %>
</table>
